.big {font: 18px arial; color: #000000;text-decoration: none;}
.big A {font: 18px arial; text-decoration: none; color: #000000;}
.big A:link {font: 18px arial; text-decoration: none; color: #0000CC; font-weight: bold;}
.big A:visited {font: 18px arial; text-decoration: none; color: #0000CC; font-weight: bold;}
.big A:hover {font: 18px arial; text-decoration: none; color: #000000; font-weight: bold;}

.main {font: arial; color: #000000;text-decoration: none;}
.main A {font: arial; text-decoration: none; color: #000000;}
.main A:link {font: arial; text-decoration: none; color: #0000CC; font-weight: bold;}
.main A:visited {font: arial; text-decoration: none; color: #0000CC; font-weight: bold;}
.main A:hover {font: arial; text-decoration: none; color: #000000; font-weight: bold;}

.box {font: 12px arial; color: #cc0000; font-weight: bold; text-decoration: none; text-indent: none; background-color: none;}
.box A {font: 12px arial; text-decoration: none; color: #cc0000; font-weight: bold;}
.box A:link {font: 12px arial; text-decoration: none; color: #cc0000; font-weight: bold;}
.box A:visited {font: 12px arial; text-decoration: none; color: #cc0000; font-weight: bold;}
.box A:hover {font: 12px arial; text-decoration: none; color: #003399; font-weight: bold;}

.sidelinks {font: 12px arial; color: #330033; font-weight: bold; text-decoration: none; text-indent: 3px;}
.sidelinks A {font: 12px arial; text-decoration: none; color: #330033; font-weight: bold;}
.sidelinks A:link {font: 12px arial; text-decoration: none; color: #330033; font-weight: bold;}
.sidelinks A:visited {font: 12px arial; text-decoration: none; color: #330033; font-weight: bold;}
.sidelinks A:hover {font: 12px arial; text-decoration: none; color: #000000; font-weight: bold;}

.links A {
	text-decoration: none;
	color: #FF0000;
	font-weight: bold;
	font-size: 18px;
}
.links A:link {font: 18px; text-decoration: none; color: #0000CC;font-weight: bold;}
.links A:visited {font: 18px; text-decoration: none; color: #0000CC;font-weight: bold;}
.links A:hover {font: 18px; text-decoration: none; color: #000000;font-weight: bold;}

a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #000099;
	text-decoration: none;
}
a:hover {
	color: #0066FF;
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
	color: #000099;
}

.right {
  float: right;
}

.left {
  float: left;
}
